@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: 'Reddit Sans ASCII';
  src: url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap') format('woff2');
  unicode-range: U+0000-00FF, U+FF00-FFEF;
}

:root,
body {
  font-family: "Reddit Sans", "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
  user-select: none;
}

body:lang(ja) {
  font-language-override: "JP78";
}

:lang(en) {
  font-language-override: "ENG"
}

body {
	margin: 0;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	touch-action: none;
}
